/*  navigation bar */
.topnav {
    text-align: center; 
    margin: 0px;
    padding-right: .5rem;
    padding-left: .5rem;
    box-sizing: border-box;
    font-family: 'DroidArabicKufiRegular';
    border-radius: 4px;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    width: 100%;
    align-items: center;
    float: right!important;
}

.topnav a {
    margin: 5px;
    color: rgb(181, 189, 181);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    }
.topnav a:hover {
    
    color: rgb(248, 241, 241);
}

/* img with text */
.backimg{

    background-size: cover;
    background-image: url(https://elmawkaa.com/img/bg/home-bg-white.jpg);
    
}

.img{
    
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-top: 20px;
    font-weight: 100 !important;
    line-height: 64px;
    padding-top: 50px;
    text-align: center;
    font-family: 'DroidArabicKufiRegular';
}
.text {
    color: #fff;
    font-weight: lighter;
    font-size: medium;
    line-height: 1.2;   
    margin-top: 0;
    text-align: center;
}




/* step form */
* {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}

p {
    color: grey
}

#heading {
    text-transform: uppercase;
    color: #673AB7;
    font-weight: normal
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
}

.form-card {
    text-align: right;
}

#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform input,
#msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #673AB7;
    outline-width: 0;
}

#msform .action-button {
    width: 100px;
    background: #673AB7;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right;
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #311B92;
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #000000;
}

.card {
    z-index: 0;
    border: none;
    position: relative;
}

.fs-title {
    font-size: 25px;
    color: #673AB7;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left;
}

.purple-text {
    color: #673AB7;
    font-weight: normal;
}


.fieldlabels {
    color: gray;
    text-align: left;
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
}

#progressbar .active {
    color: #673AB7;
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f13e";
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007";
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f030";
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c";
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #673AB7;
}

.progress {
    height: 20px;
}

.progress-bar {
    background-color: #673AB7;
}

.fit-image {
    width: 100%;
    object-fit: cover;
}

/* last fotter */


.footer {
    background: #313238 ;
    padding: 10px 0;
    box-sizing: border-box;
    font-family: 'DroidArabicKufiRegular';
    font-size: 17px;
    bottom: 0;
    width: 100%;
    height: 70px;
}
.f{
    color: #fff;
}
